/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
    font-family: avenir next,avenir,sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 5px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header stays above other content */
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.main {
    text-align: center;
    background:grey ;
}

input {
    padding: 5px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background: grey;
}

.button-red {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-red:hover {
    background-color: green;
    border: 1px solid grey;
}

.button-green {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-green:hover {
    background-color: red;
    border: 1px solid grey;
}

